/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.custom-checkbox input[type="checkbox"] {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.dropdown {
	margin-top: 1vh;
	padding-bottom: 0.5vh;
}

ul, li {
	list-style-type: none; /* Removes the bullet points */
	padding-left: 0;
}

.button-spacing {
	margin-top: 0.5vh;
	margin-right: 0.2vw;
}

.inline-element {
	display: inline;
}

.pizza-info {
	margin-left: 20vw;
}

.danger-spacing {
	margin-top: 1vh;
	margin-bottom: 2vh;
}

.container {
	margin-top: 2vh;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.table-align {
	margin-left: 17vw;
}

.mb-3 {
	margin-top: 1vh;
}

.form-select {
	margin-bottom: 0.5vh;
	width: 15%;
	border-color: #212529;
}

.form-label {
	margin-bottom: 0.5vh;
}

.nav-button {
	margin-top: 1.5vh;
}